.background{
    background: #292828 !important;
    background-attachment: fixed;
    background-size: cover;
    height: calc(100% - (5px + 5px));
    width: 100%;
}
.card{
    background: transparent;
}